.image-container {
    position: relative;
    display: inline-block
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.text-overlay {
    position: absolute;
    top: 95%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 60px; 
    padding: 1px;
    text-align: left;
}

#nav-ul > li{
    padding: 1px;
    margin: 7px;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0px;
}

.navbutton {
    color: white;
    justify-content: space-between;
    display: flex;
}

body > main article {
    width: 70%;
    margin: auto;
}

.gallery {
    display: grid;
    place-items: center;
}

body > header > div {
    background-color: orange;
    color: white;
    align-items: center;
    display: flex;
}

body > footer {
    background-color: orange;
    display: flex;
}

h2 {
    text-align: center;
    color: orange;
}

body > footer > h2 {
    margin: 0px;
}

#main-content{
    display: flex;
    justify-content: space-around 20%;
}

#main-content > div {
    width: 70%
}

#footer-ul {
    display: flex;
    list-style: none;
    color: white;
}

#footer-ul > li {
    margin-left: 12px;
    text-decoration: none;
}


#Lowerlogo {
    color: white;
   font-style: helvetica;
}
